<h4>商品編集</h4>
<% @item.each do |item| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= attachment_image_tag post_image, :image %>
  <% end %>
  <div class="form_group">
    <label for="post_image">商品画像<%= image_tag('') %></label>
  </div>
  <div class="form_group">
    <label for="item_name">商品名</label>
  </div>
  <div>
    <label for="item_opinion">商品説明</label>
  </div>
  <div class="form_group">
    <label for="item_category">ジャンル</label>
  </div>
  <div class="form_group">
    <label for="item_price">税抜き価格</label>
  </div>
<% end %>